html {
  scroll-snap-type: y mandatory; //if i scroll a little it goes to next section
  scroll-behavior: smooth; //makes that scroll smoother
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "DM Sans" , "sans-serif";
}

body{
    background-color: #0c0c1d;
    color: lightgray;
}

section {
  height: 100vh;
  width: 100vw;
  overflow-y: auto;
  overflow-x: hidden;
  scroll-snap-align: center; //if i scroll a little it goes to next section center part
}

a{
    text-decoration: none;
    color: inherit; //take color from parent i.e., body
}

@mixin mobile{
  @media (max-width:738px){
    @content;
  }
}
@mixin tablet{
  @media (max-width:1024px ) and (min-width:768px){
    @content;
  }
}
@mixin laptop{
  @media (max-width:1340px) and (min-width:1025px){
    @content;
  }
}
@mixin desktop{
  @media (max-width:1440px) and (min-width:1340px){
    @content;
  }
}
